.prof_predicates {
  width: min-content;
}

.prof_predicates .tabulator-tableHolder {
  padding-right: 2ex;
  overflow-x: hidden !important;
  flex-grow: 0;
}

.prof_content {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.prof_graph {
  position: relative;
  background: #ddf;
  flex-grow: 1;
  overflow: hidden;
}
.prof_graph .render-graphviz {
}
