.prof_predicates {
  width: min-content;
}

.prof_help {
  width: 100ex;
  padding-left: 2ex;
  padding-top: 2ex;
}

.prof_predicates .tabulator-tableHolder {
  padding-right: 1.3ex;				/* space for scrollbar */
  overflow-x: hidden !important;
  flex-grow: 0;
}

.prof_content {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.prof_graph {
  position: relative;
  background: #eef;
  flex-grow: 1;
  overflow: hidden;
}

.glyphicon-film.recording {
  color: red;
}
